.increase {
  &__title {
    margin-bottom: 40px;
  }

  &__sub-title {
    font: {
      family: $gilroy;
      size: 24px;
      weight: 900;
    }
    line-height: 40px;
    color: $white;

    margin-bottom: 72px;
  }

  .sc {
    &__content {
      &::before {
        @include gradient();
      }
    }
  }
}


// Media
@media ($mw-768) {
  .increase {
    &__sub-title {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 56px;
    }
  }
}
