.strategy {

	&__list {
		display: flex;
		font-family: "Gilroy", sans-serif;
		font-weight: 800;
	}

	&__item {
		color: #fff;
		font-size: 32px;
		//width: 25%;
		position: relative;
		display: flex;
		//padding-right: 80px;
		align-items: center;

		&:before {
			content: "";
			background: url(../img/blue-arrow.png) 50% 50% no-repeat;
			display: block;
			width: 64px;
			height: 15px;		
			margin: 0 10px;
			background-size: contain;
		}

		&:first-child {

			&:before {
				display: none;
			}

		}

	}

}

.topSection {

	&__descr {
		font-family: "Gilroy", sans-serif;
		display: flex;
		margin-top: 95px;		

		p {
			line-height: 1.7em;

			&:first-child {
				width: calc(60% - 20px);
				font-size: 18px;
				margin-right: 60px;
			}
			&:last-child {
				width: 40%;
				font-size: 24px;
			}
		}
		
		&-row {
			font-family: "Gilroy", sans-serif;
			display: flex;
			margin-top: 55px;		

			p {
				line-height: 1.7em;
				width: 80%;
				font-size: 24px;
			}
		}
	}
}

.main-info-section {
	padding: 0 0 100px 0;

	.tc {
		text-align: center;
	}

	.tl {
		text-align: left;
	}

	.tl {
		text-align: left;
	}
	

	.center-text {		
		max-width: 900px;
		margin: 0 auto;
		text-align: center;

		&.tb-deco-line {
			margin: 140px auto;
		}

		&_min {			
			max-width: 700px;
			margin: 0 auto;
			text-align: center;

			&.tb-deco-line {
				margin: 100px auto;
			}
		}

		&.tl {
			margin: 0 auto 0 0;
			text-align: left;
		}
	}

	.center-text-lg {
		max-width: 1000px;
		margin: 0 auto;
		text-align: center;
	}

	.info-img-block{
		display: flex;	
		align-items: center;
		padding-bottom: 250px;
		margin-top: 150px;

		.info-section__p {
			span {
				display: inline-block;
				margin-bottom: 20px;
			}
		}
	}

	.info-img-wrap {
		display: flex;
		max-width: 50%;
		flex-basis: 50%;
		flex-shrink: 0;
		margin-right: 100px;
		position: relative;
		align-items: center;
		
		&-1 {
			width: 60%;
			flex-basis: 60%;
			flex-shrink: 0;
			padding-right: 10px;
			height: 430px;
			max-height: 430px;
			//padding-bottom: 135%;
			
			img {
				object-fit: cover;
				-o-object-fit: cover;
				height: 100%;
				width: 100%;	
			}
		}

		&-2 {
			position: relative;
			margin-top: 50px;
			overflow: hidden;
			width: calc(40% - 10px);
			flex-basis: calc(40% - 10px);
			flex-shrink: 0;
			height: 300px;
			max-height: 300px;
			
			img {
				object-fit: cover;
				-o-object-fit: cover;
				height: 100%;
				width: 100%;				
			}
		}

		&-3 {
			position: absolute;
			width: 340px;
			flex-basis: 340px;
			height: 215px;
			max-height: 215px;
			flex-shrink: 0;
			//margin-top: 20px;
			bottom: -185px;
			left: 50%;
			margin-left: -170px;
			
			img {
				object-fit: cover;
				-o-object-fit: cover;
				height: 100%;
				width: 100%;
			}
		}
	}

	.info-descr-block {
		margin: 30px 0;
		font-family: "Gilroy", sans-serif;

		.info-section__p {
			margin-top: 30px;
		}
	}

	.text-20 {
		display: inline-block;
		line-height: 1.5em;
		margin-top: 30px;
	}
}

.main-info-block {
	display: flex;	
	flex-wrap: wrap;

	.main-info-title {

		span {
			font-weight: 700;
			display: inline-block;
			//width: 70%;
		}
	}
}

.main-info-text {
	width: calc(100% - 410px);
	font-size: 24px;

	display: flex;
	flex-direction: column;
	align-items: center;

	span {
		display: inline-block;
	}

	.text-16 {
		display: inline-block;
		line-height: 1.6em;
		margin-top: 30px;
	}
}

.main-info-wrap {
	max-width: 600px;
}


.main-info-title {	
	width: 410px;
}

.main-info-title {
	font-size: 52px;
}



.main-content-img-wrap {
	//margin-top: -55px;
	padding-left: 420px;
	width: 100%;
	//height: 500px;
	height: 435px;
	display: flex;
	justify-content: center;

	img {
		max-width: 600px;
		height: 100%;
		object-fit: cover;
		-o-object-fit: cover;
	}
}

.main-content-block {
	display: flex;
	align-items: center;
	margin-top: 100px;
	position: relative;

	.info-section__p {
		position: absolute;
		width: 410px;
		top: 100px;
		left: 0;
	}
}

.main-top-section {	

	&__list {
		max-width: 100%;
		justify-content: flex-start;
		margin-top: 90px;
		align-items: center;

		.top-section {

			&__item {
			width: 365px;
			margin-right: 95px;
			justify-content: flex-start;

			&:last-child {
				margin-right: 0;
			}
		}

			&__item_1 {

				&:after {
					order: 0;
					margin-right: 30px;
				}
			}
		}

		.top-section-list {

			&__text-wrap {
				width: auto;
				order:1;
			}

			&__title {
				display: inline-block;
				font-size: 24px;
				margin-bottom: 10px;
				line-height: normal;

				&:hover {
					text-decoration: none;
				}			

				&:after {
					content: "";
					display: block;
					background: -webkit-linear-gradient(left, #00A6BC 0%, #4BC196 100%);
					background: -moz-linear-gradient(left, #00A6BC 0%, #4BC196 100%);
					background: -o-linear-gradient(left, #00A6BC 0%, #4BC196 100%);
					background: linear-gradient(to right, #00A6BC 0%, #4BC196 100%);
					width: 100%;
					height: 1px;	
				}			
			}

			&__text {
				font-size: 16px;
				color: #fff;
			}
		}	
			.btn {
				margin-top: 0;

			&_icon {
					min-width: 100%;
					background-position: left 30px center;
			}	
		}
	}	
}

.case-section {
	background: #f1f2f2;
}

.case-block {
	margin: 0 -10px;
	display: flex;
	width: calc(100% + 20px);
	flex-wrap: wrap;

	&__col-100 {
		width: calc(100% + 20px);
		margin: 0 -10px;		
		display: flex;			   		
		position: relative;
		align-items: flex-start;
	}

	&__col-50 {
		width: calc(50% - 20px);
		margin: 0 10px;
		display: flex;
		justify-content: space-between;
   		 flex-wrap: wrap;	
		position: relative;		
	}

	&__col-25 {
		width: calc(25% - 20px);
		margin: 0 10px;			
		position: relative;		
	}

	&__col-33 {
		width: calc(33.3% - 20px);
		margin: 0 10px;			
		position: relative;		
	}
}

.case-title {
	position: relative;
	color: #000;

	&:hover {
		text-decoration: none;
	}
}

.case-link {
	display: flex;
	overflow: hidden;
	width: 100%;
	margin: 0 0 30px 0;
	min-height: 240px;
	padding: 15px 30px;	
	background: #fff;
	position: relative;	

	&:hover {
		text-decoration: none;

		.case-title {
			z-index: 10;
			color: #fff;
			text-decoration: none;
		}

		&:after {
			content: "";
			background: rgba(0, 166, 188, 0.63);
			//box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
			width: calc(100% + 20px);
			min-height: calc(100% + 20px);
			position: absolute;
			top: -10px;
			left: -10px;
			transition: all 0.25ms;
		}

		.img-holder_1 {			
			transition: all 0.25s;
		}		
		
		.img-holder {
			bottom: 200%;

			&.hover {
				bottom: 15px;
				z-index: 10;
			}
		}
		
	}

	&.md {
		min-height: 104px;
	}

	&.w-50 {
		width: calc(50% - 10px);
		margin: 0 10px 30px 10px;
	}

	&.w-200 {
		width: calc(200% + 20px);		
		margin: 0 0 30px 0;
		margin-left: calc(-100% - 20px);
	}
}

.img-holder {
	position: absolute;
	display: block;
	bottom: 15px;
	right: 20px;
	transition: all 0.2s ease-in-out;
	z-index: 10;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		-o-object-fit: cover;
	}
	
	
	&.hover {
		bottom: -100px;
	}

	&_1 {
		width: 104px;
		height: 132px;	
	}

	&_2 {
		width: 126px;
		height: 123px;	
	}

	&_3 {
		width: 100px;
		height: 100px;	
	}

	&_4 {
		width: 98px;
		height: 98px;	
	}

	&_5 {
		width: 100px;
		height: 100px;		
	}

	&_6 {
		width: 223px;
		height: 101px;		
	}

	&_7 {
		width: 80px;
		height: 80px;		
	}

	&_8 {
		width: 48px;
		height: 48px;		
	}

	&_9 {
		width: 48px;
		height: 48px;		
	}

	&_10 {
		width: 59px;
		height: 50px;		
	}

	&_11 {
		width: 61px;
		height: 60px;		
	}

	&_11 {
		width: 48px;
		height: 48px;		
	}

	&_12 {
		width: 48px;
		height: 48px;		
	}
}

.work-system  {
	background: #282E41;
	//margin-top: 80px;
	padding: 112px 0;

	.crm-top-block__item {

		&:before {
			display: none;
		}
	}
}

.feedback-section {
	padding: 112px 0 50px 0;

	.tc {
		text-align: center;
	}
}

.feedback {

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 100px -15px 0 -15px;
	}

	&__item {
		margin: 0 15px 70px 15px;
		width: calc(33.3% - 30px);
		flex-grow: 0;
		flex-basis: calc(33.3% - 30px);
		background: #F7F7F7;		
		min-height: 217px;
		padding: 68px 30px 30px;
		position: relative;		
		
		.photo-wrap {
			width: 100px;
			height: 100px;
			flex-basis: 100px;
			flex-shrink: 0;
			border-radius: 50%;
			overflow: hidden;
			position: absolute;
			top: -50px;			
			left: 50%;
			margin-left: -50px;
			box-shadow: 1px -1px 11px 5px rgba(247,247,247,1);

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

	}
}

.feedback-name {
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}

.feedback-position {
	display: block;
	margin-top: 5px;
	font-weight: 400;
	font-size: 14px;
}

.feedback-text {
	font-size: 15px;
	line-height: 1.5em;
	margin-top: 20px;
}

.working {

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		counter-reset: w-item;
	}

	&__item {
		margin: 0 15px 70px 15px;
		width: calc(33.3% - 30px);
		flex-grow: 0;
		flex-basis: calc(33.3% - 30px);
		display: flex;
		align-items: flex-start;
		position: relative;
		font-size: 16px;
		line-height: 1.5em;

		&:before {
			content: counter(w-item) " ";
			counter-increment: w-item;
			width: 60px;
			height: 60px;
			flex-basis: 60px;
			flex-shrink: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #ededed;
			border-radius: 50%;
			font-size: 20px;
			font-weight: 700;
			margin-right: 20px;
		}
	}
}

.we-working-section {
	background: #f1f2f2;
	padding: 80px 0 50px 0;
	margin-bottom: 80px;
}

.we-working {

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 50px -15px 0 -15px;	
	}

	&__item {
		margin: 0 15px 50px 15px;
		width: calc(33.3% - 30px);
		flex-grow: 0;
		flex-basis: calc(33.3% - 30px);	
		position: relative;
		font-size: 16px;
		line-height: 1.5em;

		.working-text {
			
		}
	}
}

.we-working-title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	position: relative;
	margin-left: 40px;
	
			&:before {
				content: "";		
				background: $grey;
				display: inline-block;
				width: 20px;
				height: 6px;
				background-size: cover;
				margin-right: 15px;
				border-radius: 1px;
				position: absolute;
				top: 9px;
				left: -40px;
			}	
}




.list-title {
	margin: 50px auto 50px 0;
}

.two-column {

	 &__list {
		font-family: "Gilroy", sans-serif;
		display: flex;
		margin-left: -76px;
		margin-right: -76px;
		margin-bottom: 100px;
	 }

	 &__item {
		width: calc(50% - 152px);
		margin: 0 76px;
	 }

	 &__p {
		font-size: 24px;
		line-height: 1.7em;
	 }
}

.work-block {
	margin-top: 64px;
  padding: 55px 0 0 0;
}

.work-block-wrap {
	position: relative;

	&:after {
		content: "";
		background: url(../img/rates-light-transparent.png) no-repeat;
		width: 641px;
		height: 913px;
		background-size: contain;

		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
}

.work {

	&__block {
		border-bottom: 1px solid $light-grey;
	}

	&__list {
		font-family: "Gilroy", sans-serif;
		display: flex;			
		list-style: none;
		margin-left: -45px;
		margin-right: -45px;
	//	width: 100%;
		margin-bottom: 0;    
	}

	&__item {
		width: calc(25% - 90px);
		color: $blue;
		font-size: 24px;
		font-weight: 700;
		padding: 26px 0;
		margin: 0 45px;

		&:before {		
		font-size: 40px;
		color: $light-grey;
		display: block;
		margin-bottom: 10px;
		}
		
	}

	&__block {

		&_1 {

			.work {

				&__list {
					counter-reset: item1;
				}

				&__item {
					&:before {
						content: counter(item1, decimal-leading-zero) "";
						counter-increment: item1;
					}
					
				}
			}
		}

		&_2 {

			.work {

				&__list {
					counter-reset: item2 4;
				}

				&__item {
						&:before {
						content: counter(item2, decimal-leading-zero) "";
						counter-increment: item2;
					}					
				}				
			}
		
		}

		&_3 {

			.work {

				&__list {
					counter-reset: item3 8;
				}

				&__item {
						&:before {
						content: counter(item3, decimal-leading-zero) "";
						counter-increment: item3;
					}
				}
			}
		}
	}
}

.three-column {

	&__list {
		font-family: "Gilroy", sans-serif;
		display: flex;
	}

	&__item {
		width: 33.3%;
		padding: 120px 60px;
		border-left: 1px solid $light-grey;

			&:last-child {
				border-right: 1px solid $light-grey;
			}

		.title {
			color: $blue;			
			font-size: 40px;
		}

		.title-link {
			display: inline-block;
			background: $dark-blue;
			color: $white;
			font-size: 16px;
			font-weight: 700;
			padding: 5px 15px;
			display: none;
			margin: 15px auto 15px 0;

				.fa {
					display: inline-block;
					margin-left: 5px;
				}

				&:hover {
					color: $white;
					text-decoration: none;
					background: rgba(40, 46, 65, 0.8);
				}
		}

		&_1 {
				&:before {
					content:"";
					background-image: url(../img/work-sprite.png);
					background-repeat: no-repeat;
					display: inline-block;
					

					width: 94px;
					height: 91px;
					background-position: -5px -5px;
					margin-bottom: 44px;
				}
		}
		
		&_2 {
			&:before {
				content:"";
				background-image: url(../img/work-sprite.png);
				background-repeat: no-repeat;
				display: inline-block;
				

				width: 82px;
				height: 91px;
				background-position: -109px -5px;
				margin-bottom: 44px;
			}

			.title-link {
				display: inline-block;
			}			
		}

		&_3 {
			&:before {
				content:"";
				background-image: url(../img/work-sprite.png);
				background-repeat: no-repeat;
				display: inline-block;
				
				 width: 91px;
					height: 91px;
					background-position: -5px -102px;
					margin-bottom: 44px;
			}			
		}
	}

	&__inside-list {
		//list-style: disc;
	}	

		&__inside-item {
		font-size: 18px;
		font-weight: 700;
		padding: 9px 0;			
	}

	&__inside-link {
		color: $black;
		font-size: 18px;
		font-weight: 700;
		display: inline-block;
		text-decoration: none;
		position: relative;

			.fa {
				margin-left: 3px;
				display: none;
			}

			span {
				width: 3px;
				height: 3px;
				background: $black;
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
			}	

		&:hover {
			color: $white;

			.fa {
				display: inline-block;
			}

			span {
				background: $white;
			}

			&:after {
				content:"";
				background: $blue;				
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				right: -15px;
				z-index: -1;
			}

			&:before {
				content:"";
				background: $blue;
				position: absolute;
				width: 30px;
				left: -15px;
				height: 100%;
				z-index: -1;
			}
		}
	}
}

.why-section {
	padding-top: 0;
}

.why-list-block {

	.sc {

		&__aside {
			align-items: flex-start;
			width: 33.3%;
			flex-direction: column;	
		}

		&__content {
			width: 100%;
			position: relative;
			z-index: 1;

			&:after {
				content: "";
				background: url(../img/rates-bg-transparent.png) no-repeat;
				width: 855px;
				height: 601px;
				background-size: contain;				
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: -1;
			}
		}

		.o-list {
			font-family: "Gilroy", sans-serif;
			display: flex;
			flex-wrap: wrap;			

			li {
				width: 33.3%;
				padding: 206px 30px 30px 30px;	

				&:before {
					display: none;
				}	

				&:after {
					content: "";
				}

				&:first-child {
					padding: 206px 60px 30px 60px;
					border-left: none;
				}

				&:nth-child(4) {
					border-bottom: 0;
				}
				&:nth-child(5) {
					border-bottom: 0;
				}
				&:nth-child(6) {
					border-bottom: 0;
				}
			}

			&__item_1	{

			.how-we-work__item{

				&:before {
					content: "1";
				}
			}
		}

			&__item_2 {

			.how-we-work__item{

				&:before {
					content: "2";
				}
			}
		}

			&__item_3 {

			.how-we-work__item{

				&:before {
					content: "3";
				}
			}
		}

		&__item_4 {

			.how-we-work__item{

				&:before {
					content: "4";
				}
			}
		}

			&__item_none {
				border-left: none;

				.how-we-work {

						&__item {
							display: none;
						}
					}
				}
			}
		}

	

	.how-we-work {
		

		&__title {
			font-size: 24px;
			color: $blue;
		}

		&__lead {
			font-size: 16px;
			font-weight: 300;
			line-height: 2em;
			margin-bottom: 0;
		}	

		&__item {
			max-width: 100%;
			position: relative;
			min-height: 100%;

			&:before {
				//display: none;
				font-family: "Gilroy", sans-serif;
				font-size: 112px;
				line-height: normal;
				font-weight: 900;				
				color: #373F54;
				position: absolute;
				top: -107px;
				left: 64px;
			}
		}	
	}		
}

.main-blog-section {
		font-family: "Gilroy", sans-serif;
		margin-bottom: 80px;

	.main-blog-wrap {
		max-width: 1263px;
		margin: 0 auto;
	}

	.blog-list-sm {
		//margin: 0 -15px 0 -15px;
		justify-content: flex-start;
		display: flex;
		margin: 0 -63px 30px -63px;

		&__item {
			width: calc(33.3% - 96px);
			margin: 0 48px 30px 48px;
		}

		&__img-wrap {
			height: 240px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.blog-link {
		display: flex;
		color: $blue;
		font-size: 24px;
		font-weight: 700;
		align-items: center;
		justify-content: center;
		margin-top: 30px;

		&__text {
			display: inline-block;
			color: $blue;
			font-size: 24px;
			font-weight: 700;
			margin-left: 10px;
		}

		&:before {
			content: "";

		}
	}

	.menu-icon-wrap {
		display: inline-block;
		position: relative;
		width: 24px;
		height: 20px;
	}

	.menu-icon {
		display: block;
		width: 100%;
    height: 4px;
    background-color: #00A6BC;
    border-radius: 2px;		
		position: absolute;
		top: 0;
		left: 0;

		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 4px;
			background-color: #00A6BC;
			border-radius: 2px;	
			position: absolute;
			top: 8px;
			left: 0;
		}

		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 4px;
			background-color: #00A6BC;
			border-radius: 2px;
			margin-bottom: 2px;
			margin-top: 2px;
			position: absolute;
			top: 14px;
			left: 0;
		}
	}
}

.main-form-section {
	border: 5px solid #0086A7;
	padding: 43px;
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	.blog-title {
		width: 40%;
	}

	.sidebar-section {

		&__text {
			width: calc(60% - 50px);
			margin-left: 50px;
			font-weight: 800;
			line-height: 1.5em;
			
		}
	}

	.sidebar-form {
		width: calc(100% + 16px);
		display: flex;
			align-items: flex-end;
		flex-wrap:wrap;
		margin-left: -8px;
		margin-right: -8px;
		margin-top: 14px;

		.input--hoshi {
			margin-bottom: 5px;
		}

		&__text {
			text-align: right;
			display: block;			
			font-weight: 800;	

			position: absolute;
			transform: translateX(50%);	
		}

		.input__label-content--hoshi {
			font-size: 16px;
			padding: 1.8em 1.25rem;
			color: $grey;
		}

		.fa {
			color: $grey;
		}
	}

	.sidebar-form-group {
		width: calc(27.5% - 16px);
		margin: 0 8px;
	}

	.sidebar-button-group {
		width: calc(45% - 150px);
		margin-left: 142px;

		position: relative;

		.btn {
			min-width: 100%;
			width: 100%;
		}
	}
}



@media ($mw-1680) {
	.main-top-section {

		&__list {

			.top-section-list {

				.btn {

					&_icon {
						background-position: left 40px center;
					}
				}
			}
		}
	}
}

@media ($mw-1440) {
	.strategy {	

		&__item {
			font-size: 20px;
		}
	}

	.work {

		&__list {
			margin-left: -15px;
    	margin-right: -15px;
		}

		&__item {
			margin: 0 15px; 
			width: calc(100% - 30px);
		}
	}

	.three-column {

		&__item {

			.title {
				font-size: 24px;
			}
		}
	} 

	.main-blog-section {

		.blog-list-sm {
			margin: 0 -15px 30px -15px;
			
			&__item {
				width: 33.3%;
				margin: 0;
			}
		}
	}

	.main-form-section {

		.sidebar-button-group {
			width: calc(45% - 50px);
			margin-left: 42px;		
		}
	}	
}

@media ($mw-1200) {
		.main-blog-section {

		.blog-list-sm {

			&__item {
				width: 100%;
			}
		}	
	}
	
	.case-link {

		.case-title {
			font-size: 22px;
		}
	}
}

@media ($mw-1024) {	

	.strategy {
		&__item {
			font-size: 18px;
		}
	}

	.topSection {

	&__descr {
			flex-direction: column;
			margin-top: 50px;

			p {
				&:first-child,
				&:last-child {
					width: 100%;
				}

				&:first-child {
					margin-bottom: 30px;
					margin-right: 0;
				}
			}
			
		}
		
	}		

	.two-column {

		&__list {

			.text-40 {
				font-size: 36px;
			}
		}
	}

	.three-column {

		&__list {
			flex-direction: column;
		}

		&__item {
			padding: 32px;
			width: 100%;
			border-bottom: 1px solid #BFBFBF;
			border-left: none;

			&:last-child {
				border-right: none;
			}

			.title {
				font-size: 32px;
			}
		}
	}

	
	.why-list-block {

		.sc {

			&__content {
				border-right: 0;
				
				.o-list {					
					flex-direction: column;				

					li {
							width: 100%;
							padding: 120px 32px 64px 32px;
							border-right: none;

							&:first-child {
								padding: 80px 60px;
							}

								&:nth-child(4) {
									border-bottom: 1px solid #373F54;
								}
								&:nth-child(5) {
									border-bottom: 1px solid #373F54;
								}
								
					}

					&__item {

						&_none {
							display: none;
						}
					}
				}

			}

		}	

		.how-we-work {

			&__item {

				&:before {
					font-size: 80px;
					top: -76px;
				}
			}

		}	
	}

	.main-form-section {

		.sidebar-form-group {
			width: calc(50% - 16px);
		}

		.sidebar-button-group {
			width: 100%;
			margin-left: 0;

			.btn {
				min-width: 200px;
				width: 200px;
			}
		}

		.sidebar-form {

			&__text {
				position: static;
				text-align: center;
				transform: none;
			}
		}
	}

	.main-blog-section {

		.blog-list-sm {

			&__item {
				width: 100%;
			}

			a {
				display: flex;
			}

			&__img-wrap {
				width: 50%;
				height: auto;
			}

			&__content-wrap {
				width: calc(50% - 20px);
				margin-left: 20px;
			}
		}
	}	
}

@media ($mw-1200) {

	.main-content-img-wrap {		
	
		img {
			width: 100%;	
			object-fit: contain;
			-o-object-fit: contain;		
		}
	}
}

@media ($mw-1024) {

	.main-info-title {
		font-size: 36px;
	}
	
	.main-info-text {
		font-size: 20px;
	}
}

@media ($mw-992) {

	.case-block {

		&__col-100 {
			flex-direction: column;
		}

		&__col-25,
		&__col-33 {
			width: calc(50% - 20px);

			&:last-child {
				width: 100%;
				display: flex;
				flex-wrap: wrap;

				.case-link {
					width: calc(50% - 20px);
					margin: 0 10px 30px 10px;
				}
			}
		}
	}

	.case-link {		
		min-height: 104px;

		&.w-50 {
			width: calc(100% - 20px);	
		}

		&.w-200 {
			width: 100%;
			margin: 0 0 30px 0;
			margin-left: 0;
		}
	}

	.img-holder {

		&_1 {
			width: 48px;
			height: 60px;
		}

		&_2 {
			width: 59px;
			height: 60px;
		}

		&_3 {
			width: 45px;
			height: 45px;
		}

		&_4 {
			width: 45px;
			height: 45px;
		}

		&_5 {
			width: 45px;
			height: 45px;
		}

		&_6 {
			width: 100px;
			height: 45px;
		}

		&_7 {
			width: 45px;
			height: 45px;	
		}
	}

	.feedback {

		&__item {
			width: calc(50% - 30px);
			flex-basis: calc(50% - 30px);
		}
	}

	.working {

		&__item {
			width: calc(50% - 30px);
			flex-basis: calc(50% - 30px);
		}
	}

	.we-working-section {		
		padding: 50px 0 20px 0;
		margin-bottom: 50px;
	}

	.we-working {

		&__item {
			width: calc(50% - 30px);
			flex-basis: calc(50% - 30px);
		}	
	}
}

@media ($mw-768) {

	.main-info-section {
		padding: 0 0 50px 0;

		.info-img-block {
			flex-direction: column;
			padding-bottom: 50px;
			margin-top: 50px;			
		}

		.info-img-wrap {
			width: 100%;
			margin-bottom: 215px;
			max-width: 100%;
			flex-basis: 100%;
			margin-right: 0;
		}

		.center-text_min {

			&.tb-deco-line {
				margin: 20px auto 50px;
			}
		}
	}
	.strategy {	

		&__list {
			flex-direction: column;			
		}

		&__item {
			font-size: 20px;
			padding: 10px 0;
			//justify-content: center;
			height: 74px;

			&:before {
				transform: rotate(90deg);
				width: 44px;
				display: block;
				position: absolute;
				margin: 0;
				top: -6px;

			}
		}
	}

	.main-top-section {

		&__list {
			align-items: flex-start;

			.top-section {
				&__item {
					margin-right: 0;
				}
			}
		}		
	}

	.two-column {

		&__list {			
			margin-left: 0;
			margin-right: 0;
			flex-direction: column;
			margin-bottom: 0;

			.text-40 {
				font-size: 24px
			}
		}

		&__item {
			width: 100%;
			margin: 0 auto 20px 0;;
		}

		&__p {
			font-size: 20px;
		}		
	}

	.work {

		&__block {
			border-bottom: none;
		}

		&__list {
			margin-left: 0;
			margin-right: 0;
			flex-direction: column;
		}

		&__item {
			margin: 0 auto 0 0;
			width: 100%;
			border-bottom: 1px solid $light-grey;
			font-size: 20px;
		}
	}

	.three-column {

		&__item {

			.title {
				font-size: 24px;
			}		
		}
	}

	.why-list-block {

		.how-we-work {

			&__item {

				&:before {
					font-size: 64px;
					top: -60px;
				}
			}

		}	
	}	

	.main-form-section {

		.blog-title {
			width: 100%;
		}	

		.sidebar-section{

			&__text {
				width: 100%;
				margin-left: 0;
			}
		}

		.sidebar-form {
			margin-left: 0;
			margin-right: 0;		
		}

		.sidebar-form-group {
			width: 100%;
		}

		.sidebar-button-group {
			width: 100%;
			

			.btn {
				min-width: 200px;
				width: 200px;
			}
		}
	}
	
	.case-link {
		.case-title {
			font-size: 20px;
		 }	
	}

	.work-system  {		
		//margin-top: 50px;
		padding: 80px 0;
	}	

	.main-info-title,
	.main-info-text {
		width: 100%;
	}	

	.main-info-text {
		margin-top: 30px;
	}

	.main-info-wrap {
		max-width: 100%;
	}

	.main-content-block {
		flex-wrap: wrap;
		margin-top: 50px;

		.info-section__p {
			position: static;
			width: 100%;
			margin-bottom: 20px;
		}
	}

	.main-content-img-wrap {
		padding-left: 0;
		height: 200px;
	}

	.main-info-block {	
	
		.main-info-title {
	
			span {				
				width: 100%;
			}
		}
	}

	
}

.benefits-section {
	padding: 112px 0 0 0;
}


@media ($mw-667) {

	.main-blog-section {

		.blog-list-sm {

			&__item {
				width: 100%;
			}

			a {
				display: flex;
				flex-direction: column;
			}

			&__img-wrap {
				width: 100%;
			}

			&__content-wrap {
				width: 100%;
				margin-left: 0;
			}
		}
	}

	.case-block {

		&__col-50 {
			width: calc(100% - 20px);
		}

		&__col-25,
		&__col-33 {
			width: calc(100% - 20px);

			&:last-child {

				.case-link {
					width: calc(100% - 20px);
				}
			}
		}
	}

	.img-holder {
		width: 35px;
		height: 35px;

		&_6 {
			width: 60px;
		}

		&_10 {
			width: 39px;
		}
	}

	.feedback {

		&__item {
			width: calc(100% - 30px);
			flex-basis: calc(100% - 30px);

			.photo-wrap {
				width: 70px;
				height: 70px;
				flex-basis: 70px;
				margin-left: -35px;
				margin-top: -35px;
				top: 0;
			}
		}
	}

	.working {

		&__item {
			width: calc(100% - 30px);
			flex-basis: calc(100% - 30px);
		}
	}

	.we-working {

		&__item {
			width: calc(100% - 30px);
			flex-basis: calc(100% - 30px);
		}
	}
}


@media ($mw-568) {

	.main-blog-section {		

		.blog-list-sm {
			
			&__item {
				width: 100%;
			}
		}
	}	
}

@media ($mw-415) {
		.main-top-section {

		&__list {
			align-items: flex-start;

			.top-section {			

				&__item {
					margin-right: 0;
					width: 100%;
				}
			}
			.btn_icon {			
				background-position: left 20px center;
			}
		}
	}	
}

