html {
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;

  font-size: $fs;
}

body {
  max-width: 1920px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0 !important;
  background: $white;
  overflow-x: hidden;

  font-family: $roboto;
  font-size: $fs;
  font-weight: 400;
  color: $black;
}

.container {
  width: calc(1552px - 120px);
}

 @media ($mw-1552) {

   .container {   
    width: 100%;  
   }

   .row {
     margin: 0;
   }
    
  }

  @media ($mw-1200) {

    .container {       
       width: 100%;
    }    
  }

  @media ($mw-1024) {

   .container {
    width: 100%;    
   }   
    
  }

h1, h2, h3, h4, h5, h6 {
  font-family: $gilroy;
  font-weight: 900;
  margin-top: 0;

  span {
    font-weight: 300;
  }
}
h1, h2 {
  @media ($mw-1552) {
    font-size: 48px;
  }
  @media ($mw-1024) {
    font-size: 40px;
  }
  @media ($mw-768) {
    font-size: 32px;
  }
}
h2 {
  margin-bottom: 64px;
  @media ($mw-1024) {
    margin-bottom: 48px;
  }
  @media ($mw-768) {
    margin-bottom: 32px;
  }
}
h3 {
  margin-bottom: 24px;

  @media ($mw-1552) {
    font-size: 32px;
  }
  @media ($mw-1024) {
    font-size: 24px;
  }
}
h4 {
  @media ($mw-1552) {
    font-size: 24px;
  }
  @media ($mw-1024) {
    font-size: 20px;
  }
}
h5 {
  @media ($mw-1552) {
    font-size: 20px;
  }
  @media ($mw-1024) {
    font-size: 16px;
  }
}

a {
  color: $blue;
  text-decoration: none;
  @include trans;
  &:hover,
  &:focus,
  &:active {
    color: $blue;
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  margin: auto;
  padding: 0;
}
