// Typography
$gilroy: #{'Gilroy, Helvetica, Arial, sans-serif'};
$roboto: #{'Roboto, Helvetica, Arial, sans-serif'};
$fa: #{'FontAwesome'};

$fs: 16px;

// Colors
$white: #fff;
$black: #000;
$dark-blue: #282E41;
$middle-blue: #0086A7;
$blue: #00A6BC;
$green: #4BC196;
$yellow: #F7CD5F;
$red: #F20D0D;
$grey: #808080;
$light-grey: #BFBFBF;
$graphite: #1E222E;

// Animation
$tf: cubic-bezier(.55,.085,0,.99);

// Media
$mw-1680: #{'max-width: 1680px'};
$mw-1552: #{'max-width: 1552px'};
$mw-1440: #{'max-width: 1440px'};
$mw-1300: #{'max-width: 1300px'};
$mw-1200: #{'max-width: 1200px'};
$mw-1024: #{'max-width: 1024px'};
$mw-992: #{'max-width: 992px'};
$mw-768: #{'max-width: 768px'};
$mw-600: #{'max-width: 600px'};
$mw-480: #{'max-width: 480px'};

$mw-667: #{'max-width: 667px'};
$mw-568: #{'max-width: 568px'};
$mw-415: #{'max-width: 415px'};
$mw-320: #{'max-width: 320px'};
