section.rate.rate-horisontal.section.section_dark
  .container
    .row
      .col-lg-5
        h2.text-black.text-white.deco-line Наши тарифы
        
      .col-lg-7
        p.rate__descr Мы разработали три простых тарифа для наших клиентов. Если вы затрудняетесь с выбором — оставьте заявку, и мы поможем вам подобрать тариф, наиболее подходящий вашему интернет-бизнесу.
        
  .container
    include rates-block-horisontal  
  
