
.rate__includes
	.container
		.row
			.col-md-3
				h4.text-black.text-white В каждый тариф включено
				
			.col-md-9
				.row
					.col-xs-4
						ol.o-list.text-white
							li Продвижение сайта
							li Аудит ссылочной массы
							li Оптимизация кода
							
					.col-xs-4
						ol.o-list.ci-3.text-white
							li Анализ до 5 конкурентов
							li Создание прототипов
							li Анализ контекстной рекламы
							
					.col-xs-4
						ol.o-list.ci-6.text-white
							li Настройка аналитики
							li Подбор семантики
							li Проверка позиций сайта
