extends ../template.pug

block title
	- title = pages.articleBlog.title
	
block breadcrumbs
	- breadcrumbsCat = pages.articleBlog.category
	- breadcrumbsCurrent = pages.articleBlog.title

//- Top Section
block sectionTitles
	- h1           = pages.articleBlog.h1
	- subTitle     = pages.articleBlog.subTitle
	- sectionClass = pages.articleBlog.form
	
block topSectionContent
	each item in pages.articleBlog.blogItem
		.info-wrap.info-wrap-sectionTitles
			.user-block
				.user-block__item.clearfix
					.user-block__img-wrap
						img(src="img/blog-img-1.jpg", alt="")
					p.user-block__name.user-block__name--light !{item.autor}

			.info-block
				.info-block__item
					i.fa.fa-calendar.fa-light
					span.info-block__value.info-block__value--light #{item.data}

				.info-block__item
					i.fa.fa-eye.fa-light
					span.info-block__value.info-block__value--light #{item.views}
//- //Top Section

block content

	.container.clearfix
		.blog.aricle-blog
			p.text-40 Все возможности для продвижения товаров и услуг во ВКонтакте, настройка таргетинга, выбор формата объявления и способа оплаты — в материале.
			p.text-18 Социальная сеть ВКонтакте — одно из нескольких мест присутствия бренда в интернете иканал для привлечения аудитории. Медийный охват соцсети составляет 86% населения РФ от 12 до 44 лет. Ежемесячная аудитория ВКонтакте достигает 90 млн человек. Ежедневно пользователи ставят 1 млрд лайков и отправляют 5 млрд сообщений. В этом материале сделаем обзор инструментов продвижения бизнеса в этой социальной сети.
			h2.article-title Бесплатные возможности
			p.text-18 Одна из базовых возможностей — создание сообщества (публичная страница или группа) для бренда. Сообщество в минимально оформленном варианте является лендингом-визиткой, которая индексируется поисковыми системами.
			h4.article-title-md Как создать сообщество для продвижения бренда
			ol.article-ol-list
				li Добавить аватар, название и информацию о бренде.
					a(href="").article-link Подробнее здесь
				li Создать витрину продуктов — рассказать о том, что продаете;
				li Подключить приложения.
			.light-block
				p.text-18 Этот формат похож на предыдущий с той разницей, что пост создается в рекламном кабинете от имени сообщества и не публикуется на стене. Также он поддерживает настройки таргетинга.
					|
					span Формат подходит для A/B-тестирования креативов, параллельных экспериментов с разными настройками, привлечения в сообщество новой аудитории
					|	Это рекламные объявления, которые показываются пользователям в левой части страниц и в новостной ленте. Они обычно состоят из заголовка и изображения и могут содержать короткое текстовое описание. Есть два основных формата рекламы: изображения и текст и большое изображение. Они подходят для рекламы сообществ, приложений, видеозаписей и внешних сайтов.
			h3.article-title-lg Сообщения сообщества
			p.text-18 Сервис дает возможность взаимодействовать с пользователем в личных сообщениях. Инструмент организует работу с клиентами и может заменить телефонные звонки, SMS-рассылки и онлайн-консультантов. Кнопка отправки сообщения сообщества доступна на десктопах и смартфонах пользователей.
			p.text-18 В сообщениях остается доступной вся история диалога, что дает возможность выстраивать долгое общение, допродажи и кросс-продажи. Общаясь с пользователем, компания может прикреплять изображения, видео, аудио, документы и местоположение. Счетчик новых сообщений сообщества отображается на ее главной странице.
				.p-img-wrap
					img(src="img/img1.jpg", alt="")
			p.text-18 Инструмент бесплатный и доступен для всех администраторов и редакторов  В сообщениях остается доступной вся история диалога, что дает возможность выстраивать долгое общение, допродажи и кросс-продажи. Общаясь с пользователем, компания может прикреплять изображения, видео, аудио, документы и местоположение. Счетчик новых сообщений сообщества отображается на ее главной странице. Инструмент бесплатный и доступен для всех администраторов и редакторов
			p.text-18 Инструмент бесплатный и доступен для всех администраторов и редакторов  В сообщениях остается доступной вся история диалога, что дает возможность выстраивать долгое общение, допродажи и кросс-продажи. Общаясь с пользователем, компания может прикреплять изображения, видео, аудио, документы и местоположение. Счетчик новых сообщений сообщества отображается на ее главной странице. Инструмент бесплатный и доступен для всех администраторов и редакторов
				.p-text-wrap
					span.p__value.text-gradient x4
					p.text-36 Увеличение заявок с сайта 						
						span.text-black в 4 раза
			p.text-18 Инструмент бесплатный и доступен для всех администраторов и редакторов  В сообщениях остается доступной вся история диалога, что дает возможность выстраивать долгое общение, допродажи и кросс-продажи. Общаясь с пользователем, компания может прикреплять изображения, видео, аудио, документы и местоположение. Счетчик новых сообщений сообщества отображается на ее главной странице. Инструмент бесплатный и доступен для всех администраторов и редакторов
			h3.article-title-lg Товары
			p.text-18 С их помощью бренды могут информировать о разнообразии товаров и услуг, поддерживать актуальность информации и повышать осведомленность среди потенциальных клиентов. Инструмент доступен в любом сообществе ВКонтакте бесплатно, реализована поддержка по API.
			.why-we
				p.text-40 На обработку заявок и продукт мы не влияем, они останутся за вами. 
					|
					br
					span С лендингом и рекламой поможем мы.
			h4.article-title-md Как создать сообщество для продвижения бренда
			ul.article-ul-list
				li
					span Добавить аватар, название и информацию о бренде.
						a(href="").article-link Подробнее здесь
				li 
					span Создать витрину продуктов — рассказать о том, что продаете;
				li
					span Подключить приложения.
			.article-img-block-sm
				.article-img-wrap
					img(src="img/blog-img-1.jpg", alt="")
				span.article-img-description Какое-нить описание того, что на картинке
			h3.article-title-lg Товары
			p.text-18 С их помощью бренды могут информировать о разнообразии товаров и услуг, поддерживать актуальность информации и повышать осведомленность среди потенциальных клиентов. Инструмент доступен в любом сообществе ВКонтакте бесплатно, реализована поддержка по API.
			.article-img-block-lg
				.article-img-wrap
					img(src="img/img1.jpg", alt="")
				span.article-img-description Какое-нить описание того, что на картинке
			p.text-18 Формат обеспечивает медийный эффект и поддерживает все настройки таргетинга. Вы можете показать своим потенциальным клиентам любую запись, опубликованную в сообществе. Она будет отображаться в ленте пользователей вашей целевой аудитории среди других постов друзей и сообществ.	
			ul.article-table
				li.article-table__heading
					.article-table__wrap
						span Название 1
						span Название 2
				li
					.article-table__wrap
						span.article-table__value 29 000
						span.article-table__text С нами выгоднее и дешевле. Вы не только получите больше потенциальных
				li
					.article-table__wrap
						span.article-table__value 30%
						span.article-table__text Спецформат — это комплекс рекламных объявлений
				li
					.article-table__wrap
						span.article-table__value 29 000
						span.article-table__text С нами выгоднее и дешевле. Вы не только получите больше потенциальных
				li
					.article-table__wrap
						span.article-table__value 30%
						span.article-table__text Спецформат — это комплекс рекламных объявлений
			.block-dark
				h2.increase__title.text-black.text-white.deco-line Заголовок
				.block-dark__content
					.block-dark__img-wrap
						img(src="img/dec-icon.png", alt="")
					.block-dark__text-wrap 
						h3.block-dark__text-title Только белое SEO
						p.text-24 Если вы ограничены в средствах или не хотите тартить слишком много в экпериментальном проекте, топредпочтите другого подрядчика
			



		include ../partials/blog-sidebar
	
	
	include ../partials/social-net

	//- Increase Section
	include ../sections/increase-section
	//- /Increase Section

	//- Contacts Section
	include ../sections/contacts

