extends ../template-3.pug

block content
	section.thank
		.container.flex
			h1.thank-title.text-gradient Спасибо!
			.thank__content
				.thank__img-wrap
					img(src="img/logo.svg", alt="")
				.thank__descr-wrap
					p.thank__title Мы свяжемся с Вами максимально быстро!
					p.thank__p Наши менеджеры всегда на связи!