/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-1 {
  background-image: url(sprite.png);
  background-position: -29px 0px;
  width: 26px;
  height: 26px;
}
.icon-2 {
  background-image: url(sprite.png);
  background-position: 0px -29px;
  width: 27px;
  height: 25px;
}
.icon-3 {
  background-image: url(sprite.png);
  background-position: -27px -29px;
  width: 28px;
  height: 24px;
}
.icon-4 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 29px;
  height: 29px;
}
