header.header
  .container.header__container
    a.header__logo(href="/")
      img.img-responsive(src="img/logo.svg", alt="Marox DIgital")
        
    .header__contacts
      a(href="mailto:manymany@marox.digital") manymany@marox.digital
      a(href="tel:+380445697795") +380(44) 569-77-95
