.paging.border-block_solid.border-block_no-bottom   
	ul.paging-list
		li.paging-item
			a(href="").paging-item__link--first первая 
		li.paging-item
			a(href="").paging-item__link
				i.fa.fa-long-arrow-left
		li.paging-item.paging-item__number.paging-item__active
			a(href="").paging-item__link 1
		li.paging-item.paging-item__number
			a(href="").paging-item__link 2
		li.paging-item.paging-item__number
			a(href="").paging-item__link 3
		li.paging-item
			a(href="").paging-item__link
				i.fa.fa-long-arrow-right
		li.paging-item
			a(href="").paging-item__link--first последняя 

